{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <div class="section">
        <div class="content">
            <div class="circular--portrait"> 
                <img src="/images/me.png"/> 
            </div>
            <div class="about-me">
                <h2>About me</h2>
                <p> Heya! My name's Jules, I'm a 19 year old French man and I am currently studying computer science! <br>
                    On this website, you can find all the relevant information you may need about what I do in IT, but here's a little resume of me: <br>
                    I graduated from high school with Mathematics and English Specialties in 2021 with distinctions in 2021. <br>
                    I also obtained my end of study certificate in music theory with honors in 2019. <br>
                    During my studies, I have explored all fields in Computer Science, but programming applications has been my favorite. </p>

                    <h2>Certifications</h2>

                    <a class="homepageA" href="https://www.udemy.com/certificate/UC-174b96a6-078f-46c1-a580-dd6db84f6d4a/">C# Masterclass </a>
                    <p>Udemy course about C#, WPF, Unity, Linq, and .NET as a whole.</p>

                    <a class="homepageA">Pix : P-CWP94MPR</a>
                    <p>Pix is a public French service that certifies French Students' numerical skills.</p>
            </div>
            <div class="Competences">
                <h2>Skills</h2>
                <div class="skills">
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/java.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Java : Great Language Knowledge</p>
                            <p>OOP, Threads, Client/Server, Recursivity...</p>
                        </div>
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/sceneBuilder.png">
                        </div>
                        <div class="onSkillHover">
                            <p>SceneBuilder / JavaFX : Default Knowledge</p>
                            <p>Made multiple university projects with JavaFX.</p>
                        </div>
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/csharp.png">
                        </div>
                        <div class="onSkillHover">
                            <p>C# : Overall Language Knowledge</p>
                            <p>OOP, Linq... Earnt a Udemy Certificate.</p>
                        </div>
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/unity.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Unity : Basic Knowledge</p>
                            <p>RigidBody, Prefabs... Made 3 games with it.</p>
                        </div>
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/dotnet.png">
                        </div>
                        <div class="onSkillHover">
                            <p>.NET : Overall Framework Knowledge</p>
                            <p>C#, Unity, WPF, Linq... Learnt on Udemy</p>
                        </div>
                        
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/python.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Python : Overall Language Knowledge</p>
                            <p>Procedural Programming, OOP, Competitive Programming, Maths...</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/flask.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Flask : Basic Framework Knowledge</p>
                            <p>Learnt it in university for a project.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/rust.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Rust (currently learning on Udemy)</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/php.png">
                        </div>
                        <div class="onSkillHover">
                            <p>PHP : Overall Language Knowledge</p>
                            <p>Procedural Programming, OOP...</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/laravel.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Laravel : Overall Framework Knowledge</p>
                            <p>Learnt in university and used it during university Projects</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/ruby.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Ruby (currently learning on Udemy) </p>
                        </div>

                        <!--<div class="skill">
                            <img class="imgHomepage" src="/images/skills/rails.png">
                        </div>
                        <div class="onSkillHover">
                            <p>On Rails framework (currently learning)</p>
                        </div> -->
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/html.png">
                        </div>
                        <div class="onSkillHover">
                            <p>HTML : Overall knowledge</p>
                            <p>Used it for all my web projects, including this one</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/css.png">
                        </div>
                        <div class="onSkillHover">
                            <p>CSS : Overall knowledge</p>
                            <p>Used it for all my web projects, including this one</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/hugo.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Hugo : Overall Framework Knowledge</p>
                            <p>Used it to make my portfolio website.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/typescript.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Typescript : Basic Language Knowledge, OOP</p>
                            <p>Currently learning it in university</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/angular.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Angular (will learn in university soon)</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/postgresql.png">
                        </div>
                        <div class="onSkillHover">
                            <p>PostgreSQL : SQL Language Knowledge, PL/PG SQL Language Knowledge</p>
                            <p>Functions, Procedures, Triggers, Database Modeling...</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/git.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Git : Overall Knowledge,/p>
                            <p>branches, commands, atomatic commits... </p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/github.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Github : Overall Knowledge</p>
                            <p>Github Pages</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/gitlab.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Gitlab : Overall Knowledge</p>
                            <p>Gitlab CI/CD basic knowledge with university.</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}