{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <div class="section">
        <div class="content">
            <div class="circular--portrait"> 
                <img src="/images/me.png"/> 
            </div>
            <div class="about-me">
                <h2>A propos</h2>
                <p>Bonjour ! Je m'appelle Jules, j'ai 19 ans et je suis un étudiant en informatique ! <br>
                        Sur ce site internet, vous pouvez trouver toutes les informations que vous auriez besoin à mon sujet. Mais voici ici quelques informations complémentaires :<br>
                        J'ai obtenu mon baccalauréat général options Mathématiques et Anglais avec mention. <br>
                        J'ai aussi obtenu mon diplôme de fin d'études de Musique avec mention très bien en 2019. <br>
                        Pendant mes études, j'ai étudié beaucoup de domaines en informatique, mais programmer des applications est mon domaine préféré. </p>

                        <h2>Certifications</h2>

                        <a class="homepageA" href="https://www.udemy.com/certificate/UC-174b96a6-078f-46c1-a580-dd6db84f6d4a/">Udemy : C# Masterclass </a>
                        <p>Cours Udemy à propos de C#, WPF, Unity, Linq, et le framework .NET en général.</p>
    
                        <a class="homepageA" href="https://pix.fr/">Pix : P-CWP94MPR</a>
                        <p>Pix est un service public français visant à certifier les étudiants français dans le numérique.</p>
                    </div>
            <div class="Competences">
                <h2>Compétences</h2>
                <div class="skills">
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/java.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Java</p>
                        </div>
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/sceneBuilder.png">
                        </div>
                        <div class="onSkillHover">
                            <p>SceneBuilder / JavaFX</p>
                        </div>
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/csharp.png">
                        </div>
                        <div class="onSkillHover">
                            <p>C#</p>
                        </div>
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/unity.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Unity</p>
                        </div>
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/dotnet.png">
                        </div>
                        <div class="onSkillHover">
                            <p>.NET</p>
                        </div>
                        
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/python.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Python</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/flask.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Flask</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/rust.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Rust (currently learning)</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/php.png">
                        </div>
                        <div class="onSkillHover">
                            <p>PHP</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/laravel.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Laravel</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/ruby.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Ruby (currently learning) </p>
                        </div>

                        <!--<div class="skill">
                            <img class="imgHomepage" src="/images/skills/rails.png">
                        </div>
                        <div class="onSkillHover">
                            <p>On Rails framework (currently learning)</p>
                        </div> -->
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/html.png">
                        </div>
                        <div class="onSkillHover">
                            <p>HTML</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/css.png">
                        </div>
                        <div class="onSkillHover">
                            <p>CSS</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/hugo.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Hugo Framework</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/typescript.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Typescript (currently learning)</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/angular.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Angular (currently learning)</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/postgresql.png">
                        </div>
                        <div class="onSkillHover">
                            <p>PostgreSQL : Conaissances SQL, PL/PG SQL</p>
                            <p>Fonctions, Procédures, Triggers, DD/DF/MCD/MLD...</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/git.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Git</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/github.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Github</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/gitlab.png">
                        </div>
                        <div class="onSkillHover">
                            <p>Gitlab</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}