{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <div class="section">
        <div class="content">
            <div class="circular--portrait"> 
                <img src="/images/me.png"/> 
            </div>
            <div class="about-me">
                <h2>About me</h2>
                <p> Heya! My name's Jules, I'm a 19 year old French man and I am currently studying computer science! <br>
                    On this website, you can find all the relevant information you may need about what I do in IT, but here's a little resume of me: <br>
                    I graduated from high school with Mathematics and English Specialties in 2021 with distinctions in 2021. <br>
                    I also obtained my end of study certificate in music theory with honors in 2019. <br>
                    During my studies, I have explored all fields in Computer Science, but programming applications has been my favorite. </p>

                    <h2>Certifications</h2>

                    <a class="homepageA" href="https://www.udemy.com/certificate/UC-174b96a6-078f-46c1-a580-dd6db84f6d4a/">C# Masterclass </a>
                    <p>Udemy course about C#, WPF, Unity, Linq, and .NET as a whole.</p>

                    <a class="homepageA" href="https://pix.fr/">Pix : P-CWP94MPR</a>
                    <p>Pix is a public French service that certifies French Students' numerical skills.</p>
            </div>
            <div class="Competences">
                <h2>Skills</h2>
                <div class="skills">
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/java.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>Java</h3>
                            <p>Strong Language Knowledge : OOP, Server, Recursivity...</p>
                            <p>Learnt at university.</p>
                        </div>
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/kotlin.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>Kotlin</h3>
                            <p>Basic Language Knowledge.</p>
                            <p>Learning it at university for Android development.</p>
                        </div>
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/sceneBuilder.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>SceneBuilder / JavaFX</h3>
                            <p>Basic Tool Knowledge.</p>
                            <p>Learnt it at university through projects.</p>
                        </div>
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/csharp.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>C#</h3>
                            <p>General Language Knowledge : OOP, Threads, Linq...</p>
                            <p>Earnt a Udemy Certificate.</p>
                        </div>
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/unity.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>Unity</h3>
                            <p>Basic Knowledge : Physics, Prefabs...</p>
                            <p>Learnt on Udemy and made a few games with it.</p>
                        </div>
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/dotnet.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>.NET</h3>
                            <p>Basic Framework Knowledge : WPF, .NET5, .NET6</p>
                            <p>Learnt on Udemy.</p>
                        </div>
                        
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/python.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>Python</h3>
                            <p>Great Language Knowledge : Competitive Programming...</p>
                            <p>Learnt it at university, improved it for SWERC2023</p>
                        </div>
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/flask.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>Flask</h3>
                            <p>Basic Framework Knowledge.</p>
                            <p>Learnt it at university for a project related to APIs.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/rust.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>Rust</h3>
                            <p>Basic Language Knowledge.</p>
                            <p>(currently learning on Udemy.)</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/php.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>PHP</h3>
                            <p>Good Language Knowledge : Procedural, OOP...</p>
                            <p>Learnt it at University, got LinkedIn Badge.</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/laravel.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>Laravel</h3>
                            <p>Good Framework Knowledge : CRUD, Blade, Eloquent.</p>
                            <p>Learnt at university and used it for projects.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/ruby.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>Ruby</h3>
                            <p>Basic Language Knowledge.</p>
                            <p>(currently learning on Udemy.)</p>
                        </div>

                        <!--<div class="skill">
                            <img class="imgHomepage" src="/images/skills/rails.png">
                        </div>
                        <div class="onSkillHover">
                            <p>On Rails framework (currently learning)</p>
                        </div> -->
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/html.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>HTML</h3>
                            <p>Great Language Knowledge.</p>
                            <p>Used it for all my web projects, including this one.</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/css.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>CSS</h3>
                            <p>Good Language Knowledge.</p>
                            <p>Used it for all my web projects, including this one.</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/hugo.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>Hugo</h3>
                            <p>Overall Framework Knowledge.</p>
                            <p>Learnt it at University and used it to make my portfolio.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/typescript.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>Typescript</h3>
                            <p>Basic Language Knowledge, OOP.</p>
                            <p>Currently learning it at university.</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/angular.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>Angular</h3>
                            <p></p>
                            <p>(will learn at university very soon)</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/postgresql.png">
                        </div>
                        <div class="onSkillHover">
                            <p>PostgreSQL</p>
                            <p>SQL PL/PG SQL Language Knowledge : Triggers, Functions...</p>
                            <p>Learnt at university.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="line">
                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/git.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>Git</h3>
                            <p>Overall Knowledge : commands, concepts.</p>
                            <p>Learnt at university.</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/github.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>GitHub</h3>
                            <p>Overall Knowledge, GitHub Pages.</p>
                            <p>Learnt at university and by myself.</p>
                        </div>

                        <div class="skill">
                            <img class="imgHomepage" src="/images/skills/gitlab.png">
                        </div>
                        <div class="onSkillHover">
                            <h3>GitLab</h3>
                            <p>Overall Knowledge, CI/CD Basics</p>
                            <p>Learnt at university.</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}