<div class="card" data-category="{{ .Params.Categories }}">
  <a href="{{ .Permalink }}">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{ .Params.Image }}" alt="">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48" id="imageThumbnailProjects">
            <img src="{{ .Params.TechnologyImage }}" alt="">
          </figure>
          <p class="technologies" id="firstTech">{{.Params.Technology1}}</p>
          <p class="technologies">{{.Params.Technology2}}</p>
          <p class="technologies">{{.Params.Technology3}}</p>
          <p class="technologies">{{.Params.Technology4}}</p>
        </div>
        <div class="media-content">
          <p class="title is-4">{{ .Title }}</p>
          <p class="subtitle is-6">{{ .Params.Summary }}</p>
        </div>
      </div>
    </div>
    </a>
</div>