{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <div class="section">
        <div class="content">
            <div class="circular--portrait"> 
                <img src="/images/me.png" alt="Jules BOBEUF"> 
            </div>
            <div class="about-me">
                <h2>A propos</h2>
                <p>Bonjour ! Je m'appelle Jules, j'ai 19 ans et je suis un étudiant en informatique ! <br>
                        Sur ce site internet, vous pouvez trouver toutes les informations que vous auriez besoin à mon sujet. Mais voici ici quelques informations complémentaires :<br>
                        J'ai obtenu mon baccalauréat général options Mathématiques et Anglais avec mention. <br>
                        J'ai aussi obtenu mon diplôme de fin d'études de Musique avec mention très bien en 2019. <br>
                        Pendant mes études, j'ai étudié beaucoup de domaines en informatique, mais programmer des applications est mon domaine préféré. </p>

                        <h2>Certifications</h2>

                        <a class="homepageA" href="https://www.udemy.com/certificate/UC-174b96a6-078f-46c1-a580-dd6db84f6d4a/">Udemy : C# Masterclass </a>
                        <p>Cours Udemy à propos de C#, WPF, Unity, Linq, et le framework .NET en général.</p>
    
                        <a class="homepageA" href="https://pix.fr/">Pix : P-CWP94MPR</a>
                        <p>Pix est un service public français visant à certifier les étudiants français dans le numérique.</p>
                    </div>
                    <div class="Competences">
                        <h2>Compétences</h2>
                        <div class="skills">
                            <hr>
                            <div class="line">
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/java.png" alt="Java">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>Java</h3>
                                        <p>Bonne connaissance du langage : POO, Serveur, Récursivité...</p>
                                        <p>Appris à l'université.</p>
                                    </div>
                                </div>
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/kotlin.png" alt="Kotlin">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>Kotlin</h3>
                                        <p>Connaissance simple du langage.</p>
                                        <p>Appris à l'université pour le développement Android.</p>
                                    </div>
                                </div>
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/sceneBuilder.png" alt="SceneBuilder">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>SceneBuilder / JavaFX</h3>
                                        <p>Connaissance simple des outils.</p>
                                        <p>Appris à l'université à travers des projets.</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
        
                            <div class="line">
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/csharp.png" alt="CSharp">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>C#</h3>
                                        <p>Connaissance générale du langage : POO, Threads, Linq...</p>
                                        <p>Certificat Udemy.</p>
                                    </div>
                                </div>
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/unity.png" alt="Unity">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>Unity</h3>
                                        <p>Connaissances de base : Physics, Prefabs...</p>
                                        <p>Appris avec Udemy en faisant des jeux vidéo.</p>
                                    </div>
                                </div>
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/dotnet.png" alt=".NET">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>.NET</h3>
                                        <p>Connaissance simple du framework : WPF, .NET5, .NET6</p>
                                        <p>Appris sur Udemy.</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
        
                            <div class="line">
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/python.png" alt="Python">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>Python</h3>
                                        <p>Bonne connaissance du langage : Programmation Compétitive, POO, Maths...</p>
                                        <p>Appris à l'université & SWERC2023.</p>
                                    </div>
                                </div>
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/flask.png" alt="Flask">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>Flask</h3>
                                        <p>Connaissance simple du Framework.</p>
                                        <p>Appris à l'université pour un projet relié aux API.</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
        
                            <div class="line">
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/rust.png" alt="Rust">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>Rust</h3>
                                        <p>Connaissance simple du langage.</p>
                                        <p>(en train de l'apprendre sur Udemy.)</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
        
                            <div class="line">
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/php.png" alt="PHP">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>PHP</h3>
                                        <p>Bonne connaissance du langage : Programmation Procédurale, POO...</p>
                                        <p>Appris à l'université, obtention d'un badge LinkedIn.</p>
                                    </div>
                                </div>
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/laravel.png" alt="Laravel">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>Laravel</h3>
                                        <p>Bonne connaissance du framework : CRUD, Blade, Eloquent, Serveurs RestAPI...</p>
                                        <p>Appris à l'université.</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
        
                            <div class="line">
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/ruby.png" alt="Ruby">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>Ruby</h3>
                                        <p>Connaissance simple du langage.</p>
                                        <p>(en train de l'apprendre sur Udemy.)</p>
                                    </div>
                                </div>
                                <!--
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/rails.png" alt="On Rails">
                                    </div>
                                    <div class="onSkillHover">
                                        <p>On Rails framework (currently learning)</p>
                                    </div> 
                                </div>
                            -->
                            </div>
                            <hr>
        
                            <div class="line">
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/html.png" alt="HTML">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>HTML</h3>
                                        <p>Bonne connaissance du langage.</p>
                                        <p>Utilisé pour tous mes sites internet.</p>
                                    </div>
                                </div>
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/css.png" alt="CSS">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>CSS</h3>
                                        <p>Bonne connaissance du langage.</p>
                                        <p>Utilisé pour tous mes sites internet.</p>
                                    </div>
                                </div>
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/hugo.png" alt="Hugo">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>Hugo</h3>
                                        <p>Connaissance générale du framework.</p>
                                        <p>Appris à l'université, utilisé pour mon site portfolio.</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
        
                            <div class="line">
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/typescript.png" alt="TypeScript">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>TypeScript</h3>
                                        <p>Connaissance générale du langage : POO, DOM...</p>
                                        <p>En train de l'apprendre à l'université.</p>
                                    </div>
                                </div>
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/angular.png" alt="Angular">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>Angular</h3>
                                        <p></p>
                                        <p>(je vais bientôt l'apprendre à l'université.)</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
        
                            <div class="line">
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/postgresql.png" alt="PostgreSQL">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>PostgreSQL</h3>
                                        <p>Connaissance des langages SQL / PLPG SQL : MCD, Triggers, Fonctions...</p>
                                        <p>Appris à l'université.</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
        
                            <div class="line">
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/git.png" alt="Git">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>Git</h3>
                                        <p>Connaissance globale: commandes, concepts, commits atomiques...</p>
                                        <p>Appris à l'université.</p>
                                    </div>
                                </div>
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/github.png" alt="GitHub">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>GitHub</h3>
                                        <p>Connaissance générale, GitHub Pages, Travail en équipe...</p>
                                        <p>Appris à l'université et par moi-même.</p>
                                    </div>
                                </div>
                                <div class="skillContainer">
                                    <div class="skill">
                                        <img class="imgHomepage" src="/images/skills/gitlab.png" alt="GitLab">
                                    </div>
                                    <div class="onSkillHover">
                                        <h3>GitLab</h3>
                                        <p>Connaissance générale, Base de CI/CD, Travail en équipe...</p>
                                        <p>Appris à l'université.</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        {{ partial "footer.html" . }}