{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <div class="section">
        <div class="content">
            <div class="circular--portrait"> 
                <img src="/images/me.png" alt="Jules BOBEUF"> 
            </div>
            <div class="about-me">
                <h2>About me</h2>
                <p> Hello! My name is Jules, I'm a 19 year old French man that currently studies computer science! <br>
                    On this website, you can find all the relevant information you may need about what I do in IT. However, here is a little resume of mine: <br>
                    I graduated from high school with Mathematics and English Specialties with distinctions in 2021. <br>
                    I also obtained my end of study certificate in music theory with honors in 2019. <br>
                    During my studies, I have explored all fields in Computer Science, but programming applications has been my favorite. </p>

                    <h2>Certifications</h2>

                    <a class="homepageA" href="https://www.udemy.com/certificate/UC-174b96a6-078f-46c1-a580-dd6db84f6d4a/">C# Masterclass </a>
                    <p>Udemy course about C#, WPF, Unity, Linq, and .NET as a whole.</p>
                    
                    <a class="homepageA" href="https://www.udemy.com/certificate/UC-07ef669a-f88b-4d13-8450-79f3513e8e51/">Ruby For Beginners</a>
                    <p>Udemy course about the basics of Ruby.</p>

                    <a class="homepageA" href="https://pix.fr/">Pix : P-CT2W4QJF</a>
                    <p>Pix is a public French service that certifies French Students' numerical skills.</p>

                    <h2>Professional experiences</h2>
                    <p>I worked for 10 weeks at Luminess for an internship as a Django developer.</p>
                    <p>Skills used: Python, Django, JavaScript, LaTeX, Git, GitLab.</p>
            </div>
            <div class="competences">
                <h2>Skills</h2>
                <div class="skills">
                    <hr>
                    <div class="line">
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/java.png" alt="Java">
                            </div>
                            <div class="onSkillHover">
                                <h3>Java</h3>
                                <p>Strong Language Knowledge : OOP, Server, Recursivity...</p>
                                <p>Learnt at university.</p>
                            </div>
                        </div>
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/kotlin.png" alt="Kotlin">
                            </div>
                            <div class="onSkillHover">
                                <h3>Kotlin</h3>
                                <p>Basic Language Knowledge.</p>
                                <p>Learning it at university for Android development.</p>
                            </div>
                        </div>
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/sceneBuilder.png" alt="SceneBuilder">
                            </div>
                            <div class="onSkillHover">
                                <h3>SceneBuilder / JavaFX</h3>
                                <p>Basic Tool Knowledge.</p>
                                <p>Learnt it at university through projects.</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/csharp.png" alt="CSharp">
                            </div>
                            <div class="onSkillHover">
                                <h3>C#</h3>
                                <p>General Language Knowledge : OOP, Threads, Linq...</p>
                                <p>Got a Udemy Certificate.</p>
                            </div>
                        </div>
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/unity.png" alt="Unity">
                            </div>
                            <div class="onSkillHover">
                                <h3>Unity</h3>
                                <p>Basic Knowledge : Physics, Prefabs...</p>
                                <p>Learnt on Udemy and made a few games with it.</p>
                            </div>
                        </div>
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/dotnet.png" alt=".NET">
                            </div>
                            <div class="onSkillHover">
                                <h3>.NET</h3>
                                <p>Basic Framework Knowledge : WPF, .NET5, .NET6</p>
                                <p>Learnt on Udemy.</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/python.png" alt="Python">
                            </div>
                            <div class="onSkillHover">
                                <h3>Python</h3>
                                <p>Great Language Knowledge : Competitive Programming...</p>
                                <p>Learnt it at university, SWERC2023</p>
                            </div>
                        </div>
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/django.png" alt="Django">
                            </div>
                            <div class="onSkillHover">
                                <h3>Django</h3>
                                <p>Good framework Knowledge.</p>
                                <p>Learnt it during a 10 week-long internship at Luminess.</p>
                            </div>
                        </div>
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/flask.png" alt="Flask">
                            </div>
                            <div class="onSkillHover">
                                <h3>Flask</h3>
                                <p>Basic Framework Knowledge.</p>
                                <p>Learnt it at university for a project related to APIs.</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/rust.png" alt="Rust">
                            </div>
                            <div class="onSkillHover">
                                <h3>Rust</h3>
                                <p>Basic Language Knowledge.</p>
                                <p>(currently learning on Udemy.)</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/php.png" alt="PHP">
                            </div>
                            <div class="onSkillHover">
                                <h3>PHP</h3>
                                <p>Good Language Knowledge : Procedural, OOP...</p>
                                <p>Learnt it at University, got LinkedIn Badge.</p>
                            </div>
                        </div>
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/laravel.png" alt="Laravel">
                            </div>
                            <div class="onSkillHover">
                                <h3>Laravel</h3>
                                <p>Good Framework Knowledge : CRUD, Blade, Eloquent, RestAPI Servers...</p>
                                <p>Learnt at university.</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/ruby.png" alt="Ruby">
                            </div>
                            <div class="onSkillHover">
                                <h3>Ruby</h3>
                                <p>Basic Language Knowledge : Procedural, OOP...</p>
                                <p>Learnt on Udemy and got a certificate</p>
                            </div>
                        </div>
                        <!--<div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/rails.png" alt="On Rails">
                            </div>
                            <div class="onSkillHover">
                                <h3>On Rails framework</h3>
                                <p></p>
                                <p>Currently learning on my own.</p>
                            </div> 
                        </div> -->
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/html.png" alt="HTML">
                            </div>
                            <div class="onSkillHover">
                                <h3>HTML</h3>
                                <p>Great Language Knowledge.</p>
                                <p>Used it for all my web projects, including this one.</p>
                            </div>
                        </div>
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/css.png" alt="CSS">
                            </div>
                            <div class="onSkillHover">
                                <h3>CSS</h3>
                                <p>Good Language Knowledge.</p>
                                <p>Used it for all my web projects, including this one.</p>
                            </div>
                        </div>
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/hugo.png" alt="Hugo">
                            </div>
                            <div class="onSkillHover">
                                <h3>Hugo</h3>
                                <p>Overall Framework Knowledge.</p>
                                <p>Learnt it at University and used it to make my portfolio.</p>
                            </div>
                        </div>
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/bootstrap.png" alt="Bootstrap">
                            </div>
                            <div class="onSkillHover">
                                <h3>Bootstrap</h3>
                                <p>Good framework Knowledge.</p>
                                <p>Learnt it during a 10 week-long internship at Luminess.</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/typescript.png" alt="TypeScript">
                            </div>
                            <div class="onSkillHover">
                                <h3>TypeScript</h3>
                                <p>Basic Language Knowledge, OOP.</p>
                                <p>Learnt it at university.</p>
                            </div>
                        </div>
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/angular.png" alt="Angular">
                            </div>
                            <div class="onSkillHover">
                                <h3>Angular</h3>
                                <p>Simple knowledge of the framework : Components, Services...</p>
                                <p>Learnt it at university.</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/postgresql.png" alt="PostgreSQL">
                            </div>
                            <div class="onSkillHover">
                                <h3>PostgreSQL</h3>
                                <p>SQL PL/PG SQL Language Knowledge : Triggers, Functions...</p>
                                <p>Learnt at university.</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="line">
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/git.png" alt="Git">
                            </div>
                            <div class="onSkillHover">
                                <h3>Git</h3>
                                <p>Overall Knowledge : commands, concepts, atomics commits...</p>
                                <p>Learnt at university.</p>
                            </div>
                        </div>
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/github.png" alt="GitHub">
                            </div>
                            <div class="onSkillHover">
                                <h3>GitHub</h3>
                                <p>Overall Knowledge, GitHub Pages, Team Work.</p>
                                <p>Learnt at university and by myself.</p>
                            </div>
                        </div>
                        <div class="skillContainer">
                            <div class="skill">
                                <img class="imgHomepage" src="/images/skills/gitlab.png" alt="Gitlab">
                            </div>
                            <div class="onSkillHover">
                                <h3>GitLab</h3>
                                <p>Overall Knowledge, CI/CD Basics, Team Work</p>
                                <p>Learnt at university.</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}