*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;


}
nav {
    width: 100%;
}
head {
    width: 100%;
    padding: 0;
}

img {
    border-radius: 2rem;
    padding: 2rem;
}

.imgprojects {
    border-radius: 2rem;
    padding: 2rem;
    max-height: 75%;
    max-width: 75%;
}

h1,
h2,
h3,
h4,
p {
    color:black;
}

.projectsContent {
    text-align: center;
    justify-content: center;
    padding-left: 15rem;
    padding-right: 15rem;
}

.navbar-menu {
    background-color: transparent;
}

.navbar {
    background-color: transparent;
}
.navbar-end {
    align-items: center;
}

footer {
    isolation: isolate;
    position: relative;
    background-color: transparent;
    padding: 5rem;
}

@media(max-width: 950px){
    .projectsContent{      
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
