*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: black;
    isolation: isolate;
}
.content {
    text-align: center;
    justify-content: center;
}

#content {
    background-color: transparent;
    align-items: center;
    text-align: center;
    isolation: isolate;
}
main {
    flex: 1;    
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

footer {
    z-index: 1;
    position: relative;
    background-color: transparent;
    padding: 5rem;
    text-align: center;
}
.titre {
    font-size: 3rem;
    text-align: center;
    color: black;
    margin-top: -2rem;
    margin-bottom: 0.5rem;
}

.page-link {
    padding: 0.1rem;
    color: black;
}

.page-link:hover {
    background-color: transparent;
    color: rgb(14, 110, 255);
}

.Competences {
    align-items:baseline;
}

.circular--portrait { 
    position: relative; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
.circular--portrait img { 
    width: 100%; 
    height: auto; 
}
.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem;
}

.projects {
    position: bottom;
    align-items: center;
}

.error404 {
    text-align: center;
    color: black;
    margin: 2rem;
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.progress.is-danger {
    border: 0.1rem solid black;
}

.column-homepage .card {
    border: 0.1rem solid red;
    margin: 0.1rem;
    height: 100%;
    width: 95%;
    background-color: transparent;
}

.column-homepage .card .card-content {
    padding-bottom: -0.2rem;
    background-color: transparent;
}

.projects {
    align-items: center;
}

.about-me {
    margin: 4rem;;
    text-align: center;
}

.btn{
    position: relative;
    display: inline-block;
    padding: 1em 2em;
    overflow: hidden;
    border-radius: 3rem;
    border: 2px solid #9A9A9A;
    transition: background 1s;
    margin-left: -1rem;
    color: white !important;
    background-color: #9A9A9A;
}
    
.btn:hover {
    background: rgb(14, 110, 255);
}

a:hover,
i:hover{
    color: rgb(14, 110, 255);
}

a,
i{
    color: black;
}

.triProject {
    appearance: none;
    background-color: transparent;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    color: #666;
    font-size: 14px;
    outline: 0;
    padding: 0.1rem;
    margin-bottom: 1rem;
    width: 12%;
    text-align: center;
    color:black;
    isolation: isolate;
}

.triProject::-ms-expand {
    display: none;
}

.triProject:hover {
    border-color: #999;
}

.triProject:focus {
    border-color: #666;
    box-shadow: 0 0 2px #666;
}

option {
    isolation: isolate;
}

.column.is-third {
    margin-bottom: 2rem;
    background-color: transparent;
}

.card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}

.card-content figure {
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
.card-image figure img{
    object-fit: cover;
}


.columns .column .card{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.technologies {
    text-align: start;
}

.darkmode-toggle {
    z-index: 2;
}

#firstTech {
    margin-top: 0.5rem;
}

#imageThumbnailProjects {
    margin-bottom: 0.1rem;
}
#projects{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media(min-width: 700px){
    #projects{      
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 1240px){
    #projects{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(max-width: 700px){
    .skills {
        grid-template-columns: repeat(1, 1fr);
    }
    .column-homepage {
        padding-bottom: 1rem;
    }
    .triProject {
        width: 20%;
    }
}


/* Hangman */
.hangman {
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.hangmanIntro {
    padding: 0.5rem;
}

.game-container {
    isolation: isolate;
    background-color: transparent;
    color: black;
    padding: 1rem;
}
.usedLetters {
    padding: 1rem;
}

.hangmanOutro {
    padding-top: 0.2rem;
}