.darkmode--activated body,
.darkmode--activated p,
.darkmode--activated body p,
.darkmode--activated h1,
.darkmode--activated h2,
.darkmode--activated h4,
.darkmode--activated h5,
.darkmode--activated h6,
.darkmode--activated .card-content p,
.darkmode--activated nav i,
.darkmode--activated a,
.darkmode--activated label,
.darkmode--activated .projectsContent p
.darkmode--activated .navbar,
.darkmode--activated .projectsContent,
.darkmode--activated .titre{
    isolation: isolate;
    color: rgb(224, 215, 215);
}

.darkmode--activated #content {
    background:transparent;
}

.darkmode--activated .card-content {
    color: rgb(224, 215, 215);
}

.darkmode--activated nav i:hover,
.darkmode--activated a:hover,
.darkmode--activated .logo p:hover {
    color: rgb(14, 110, 255);
    background-color: transparent;
}

.darkmode--activated nav a:hover{
    color: rgb(14, 110, 255);
    background-color: transparent;
}

.darkmode--activated .card{
    box-shadow: 2px 3px 10px 1px rgba(86, 86, 86, 0.5);
    -moz-box-shadow: 2px 3px 10px 1px rgba(86, 86, 86, 0.5);
    -webkit-box-shadow: 2px 3px 10px 1px rgba(86, 86, 86, 0.5);
    background-color: transparent;
}

.darkmode--activated .rectangle, .darkmode--activated  .colortest{
    box-shadow:0.3rem 0.2rem 0.5rem 0.1rem rgba(86, 86, 86, 0.5);
    -moz-box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem rgba(86, 86, 86, 0.5);
    -webkit-box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem rgba(86, 86, 86, 0.5);
    background-color: rgba(38, 38, 38, 0.5);
    isolation: isolate;
}

.darkmode--activated .error404 {
    isolation: isolate;
    color: rgb(224, 215, 215);
}

.darkmode--activated .triProject {
    color: rgb(224, 215, 215);
}

.darkmode--activated .darkmode-toggle, .darkmode-toggle  {
    z-index: 2;
}

.darkmode--activated option {
    color: black;
}

.darkmode--activated footer {
    background-color: transparent;
}

.darkmode--activated footer p{
    color:white;
}

.darkmode--activated .triProject {
    border-color: white;
}

/* Hangman */

.formHangman input[type="text"] {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.formHangman button[type="submit"] {
    box-shadow: 0 2px 4px rgba(224, 224, 224, 0.2);
}

.darkmode--activated .game-container {
    color: white;
    background-color: transparent;
}

.darkmode--activated .about-me .homepageA {
    isolation: isolate;
    mix-blend-mode: plus-lighter;
}