@import url('settings.css');

.darkmode--activated body,
.darkmode--activated p,
.darkmode--activated body p,
.darkmode--activated h1,
.darkmode--activated h2,
.darkmode--activated h4,
.darkmode--activated h5,
.darkmode--activated h6,
.darkmode--activated .card-content p,
.darkmode--activated nav i,
.darkmode--activated a,
.darkmode--activated label,
.darkmode--activated .projectsContent p
.darkmode--activated .navbar,
.darkmode--activated .projectsContent,
.darkmode--activated .titre{
    isolation: isolate;
    color: var(--darkmode-text-color);
}

.darkmode--activated #content {
    background: transparent;
}

.darkmode--activated .card-content {
    color: var(--darkmode-text-color);
}

.darkmode--activated nav i:hover,
.darkmode--activated a:hover,
.darkmode--activated .logo p:hover {
    color: var(--hover-color);
    background-color: transparent;
}

.darkmode--activated nav a:hover{
    color: var(--hover-color);
    background-color: transparent;
}

.darkmode--activated .card{
    box-shadow: 2px 3px 10px 1px var(--darkmode-shadow-color);
    -moz-box-shadow: 2px 3px 10px 1px var(--darkmode-shadow-color);
    -webkit-box-shadow: 2px 3px 10px 1px var(--darkmode-shadow-color);
    background-color: transparent;
}

.darkmode--activated .rectangle, .darkmode--activated  .colortest{
    box-shadow:0.3rem 0.2rem 0.5rem 0.1rem var(--darkmode-shadow-color);
    -moz-box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem var(--darkmode-shadow-color);
    -webkit-box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem var(--darkmode-shadow-color);
    background-color: var(--darkmode-article-bg-color);
    isolation: isolate;
}

.darkmode--activated .projectBody {
    background-color: var(--darkmode-article-bg-color);
}

.darkmode--activated .error404 {
    isolation: isolate;
    color: var(--darkmode-text-color);
}

.darkmode--activated .triProject {
    color: var(--darkmode-text-color);
}

.darkmode--activated .darkmode-toggle, .darkmode-toggle  {
    z-index: 2;
}

.darkmode--activated option {
    color: var(--text-color);
}

.darkmode--activated footer {
    background-color: transparent;
}

.darkmode--activated footer p{
    color:white;
}

.darkmode--activated .triProject {
    border-color: white;
}