{{ define "main" }}
<div class="container">
    <div class="section">
        <h1 id=titre>Mon blog</h1>
        <style>
            #titre {
                font-size: 4rem;
                text-align: center;
                color: darkblue;
            }
        </style>
        <div class="columns is-multiline">
            {{ range .Paginator.Pages }}
            <div class="column is-third">
                {{ partial "thumbs.html" . }}
            </div>
            {{ end }}
        </div>
        <div class="columns is-centered">
            <div class="column is-narrow">
                {{ partial "paginate.html" . }}
            </div>
        </div>
    </div>
</div>

{{ end }}

